{{>layout/header}}
<style>
    .pagination{
        text-align : center;
        display : block;
    }
    .pagination>li{
        display : inline-block;
        list-style : none;
        height : 20px;
        font-size : 20px;
        vertical-align : middle;
        color : #1E1E1E;
    }
    .pagination>li.active>a{
        color : #338A76;
        font-weight : 600;
    }
    .pagination>li>a{
        color : #1E1E1E;
        width : 100%;
        height : 100%;
        padding : 0 2px 0 2px;
        display : block;
    }
</style>
<h1>로그 게시판</h1>
<div class = "col-md-12">
    <div class = "row">
        <div class = "col-md-6">
            <a href = "{{customUri}}/admin/board/posts/save" role = "button" class = "btn btn-primary">글 등록</a>
            <a href = "{{customUri}}/admin/manualcron" role = "button" class = "btn btn-primary">수동 데이터 수집</a>
            <a href = "{{customUri}}/admin/vginfo" role = "button" class = "btn btn-primary">투표대전 데이터 수정</a>
            {{#userName}}
                Logged is as : <span id = "user">{{userName.name}}</span>
            <span><img src = "{{userName.picture}}" style = "width : 40px"></span>
            <a href = "https://feh.wiki/voting/logout" class = "btn btn-info active" role = button>로그아웃</a>
            {{/userName}}
            {{^userName}}
                <a href = "https://feh.wiki/voting/oauth2/authorization/google" class = "btn btn-success active" role = button>구글 로그인</a>
            {{/userName}}
        </div>
    </div>
    <br>
    <table class = "table table-horixontal table-bordered">
        <thead class = "thead-strong">
        <tr>
            <th>게시글번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>최종수정일</th>
        </tr>
        </thead>
        <tbody id = "tbody">
        {{#posts}}
            <tr>
                <td>{{id}}</td>
                <td><a href = "/voting/admin/board/posts/{{id}}">{{title}}</a></td>
                <td>{{author}}</td>
                <td>{{modifiedDateString}}</td>
            </tr>
        {{/posts}}
        </tbody>
    </table>
    <ul class = "pagination">
        {{#pageFirst}}
            <li id = "page-first">
                <a href = "{{customUri}}/admin/board/page/{{.}}"><i class="bi bi-chevron-double-left"></i></a>
            </li>
        {{/pageFirst}}
        {{#pagePrev}}
            <li id = "page-prev">
            <a href = "{{customUri}}/admin/board/page/{{.}}"><i class="bi bi-chevron-left"></i></a>
            </li>
        {{/pagePrev}}
        {{#pageCurrentPrevList}}
            <li class = "page-number">
                <a href = "{{customUri}}/admin/board/page/{{.}}">{{.}}</a>
            </li>
        {{/pageCurrentPrevList}}
        {{#pageCurrent}}
            <li class = "page-number active">
                <a href = "{{customUri}}/admin/board/page/{{.}}">{{.}}</a>
            </li>
        {{/pageCurrent}}
        {{#pageCurrentNextList}}
            <li class = "page-number">
                <a href = "{{customUri}}/admin/board/page/{{.}}">{{.}}</a>
            </li>
        {{/pageCurrentNextList}}
        {{#pageNext}}
            <li id = "page-next">
                <a href = "{{customUri}}/admin/board/page/{{.}}"><i class="bi bi-chevron-right"></i></a>
            </li>
        {{/pageNext}}
        {{#pageLast}}
            <li id = "page-next">
                <a href = "{{customUri}}/admin/board/page/{{.}}"><i class="bi bi-chevron-double-right"></i></a>
            </li>
        {{/pageLast}}
    </ul>

</div>

{{>layout/footer}}