{{>layout/header}}
<div class = "col-md-12">
    <h3>오류!</h3>
    <p class="lead">{{{errorMessage}}}</p>
    <a href = "{{customUri}}/vg/" role = button class = "btn btn-success">돌아가기</a>
</div>

{{>layout/footer}}